@media (min-width: 320px) {
  h1 {
    font-size: 2.5rem;
    color: rgb(35, 175, 145);
    margin-top: 14rem;
    font-family: "Rowdies", cursive;
    letter-spacing: 0.5rem;
  }

  h2 {
    font-family: "Raleway", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 2rem;
    font-weight: bold;
  }

  body {
    background: url(./bg.png) no-repeat center/cover;
  }

  .links img {
    height: 2rem;
    width: 2rem;
  }

  .flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 80vh;
  }
  .flexbox img {
    height: 8rem;
    width: 9rem;
    border-radius: 10rem;
  }
  .links {
    display: flex;
    margin-bottom: 3rem;
    height: 20vh;
    justify-content: center;
  }
  .footer {
    width: 25%;
    margin-bottom: 4rem;
  }
  .footer img {
    padding: 0.3rem;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
}
