@media (min-width: 320px) {
  h1 {
    font-size: 2.5rem;
    color: rgb(35, 175, 145);
    text-shadow: 2px 2px black;
    font-family: "Rowdies", cursive;
    letter-spacing: 0.5rem;
  }

  h2 {
    font-family: "Raleway", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 2rem;
    font-weight: bold;
  }

  body {
    background: url("https://i.ibb.co/cx0XbFz/bg.png") no-repeat center/cover;
  }

  .flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }
  .flexbox img {
    height: 5rem;
    border-radius: 4rem;
  }

  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    border-top: 5px dotted white;
  }
  .footer img {
    padding: 0.3rem;
    height: 2rem;
    width: 2rem;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
}
