@media (min-width: 320px) {
  a:hover {
    text-shadow: 2px 2px rgb(35, 175, 145);
  }

  h1 {
    font-size: 2.5rem;
    color: rgb(35, 175, 145);
    text-shadow: 2px 2px black;
    font-family: "Rowdies", cursive;
    letter-spacing: 0.5rem;
    /* animation-name: grow;
    animation-duration: 3s; */
  }

  h2 {
    font-family: "Raleway", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 2rem;
    font-weight: bold;
    animation-name: shrink;
    animation-duration: 4s;
  }

  body {
    background: url("https://i.ibb.co/cx0XbFz/bg.png") no-repeat center/cover;
  }

  .flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }
  .flexbox img {
    height: 5rem;
    border-radius: 4rem;
  }

  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-top: 4px dotted white;
    padding-bottom: 3rem;
  }
  .footer img {
    padding: 0.3rem 0.2rem 0 0.2rem;
    height: 2rem;
    width: 2rem;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 3.5rem;
      animation-name: grow;
      animation-duration: 4s;
    }

    h2 {
      font-size: 2.5rem;
      animation-name: shrink;
      animation-duration: 3s;
    }

    @keyframes shrink {
      from {
        color: white;
        text-shadow: 5px 5px rgb(35, 175, 145);
        font-size: 6rem;
      }
      to {
        color: black;
        text-shadow: 2px 2px white;
        font-size: 2.5rem;
      }
    }

    @keyframes grow {
      from {
        font-size: 1rem;
        letter-spacing: 3rem;
      }
      to {
        font-size: 3.5rem;
        letter-spacing: 0.5rem;
      }
    }
    .footer img {
      padding-top: 1.5rem;
      height: 3rem;
      width: 3rem;
    }
    .footer {
      width: 80%;
      border-top: none;
      justify-content: space-around;
    }
  }
}
